body {
    padding-top: 110px;
    font-family: sans-serif;
    background-color: rgb(173, 173, 173);
}
body hr{
    margin: 60px auto;
    border: 1px dashed #fff;
}
body a{
    text-decoration: none;
    color:#fff;
}
header {
    width: 100%;
    height: 70px;
    background: rgb(120,120,120);
    padding: 20px 50px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}
.fa-twitter{
    color: rgb(255, 255, 255);
}
.fa-instagram{
    color: rgb(255, 255, 255);
}
.a{
    text-decoration: none;
    color: rgb(216, 216, 216);
    transition: all 0.5s;
}
.a:hover{
    color: rgb(255, 255, 255);
}
header .gnav .menu {
    display: flex;
}

header .gnav .menu li {
    list-style: none;
    font-size: 18px;
}

header .gnav .menu li + li {
    margin-left: 40px;
}
header h1{
    color:rgb(255, 255, 255);

}
.title1{
    color:rgb(216, 216, 216);
}
.title2{
    color: rgb(255,255,255);
}
.body-title{
    font-size:65px;
    text-align: center;
}
.box{
    display: inline-block;
    background-color: none;
    transition: all 0.5s;
    color:#fff;
    width:300px;
    height:200px;
    font-size:20px;
    text-align:center;
    line-height:200px;
    margin: 15px;
    box-shadow: 0px 0px 10px 10px rgb(188, 188, 188);
}
.box:hover{
    background-color: rgb(79, 106, 143) ;
}

.boxset{
    width:fit-content;
    margin-left:auto;
    margin-right: auto;
}
div a{
    color: rgb(228, 228, 228);
    font-size: 20px;
    transition: all 0.5s;
    display: block;
}
div a:hover{
    color: rgb(255, 255, 255);
    font-size: 23px;
}